* {
  /* border: 1px solid black; */
}

body {
  font-family: "Roboto", sans-sarif;
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* gap: 5px; */
  overflow: visible;
}

.sidebar {
  background-color: #1992d4;
  color: white;
  border: 1px solid black;
  grid-row: 1 / 3;
}

.sidebar-header {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  gap: 2%;
  padding: 10px;
}

.sidebar-header .dashboard-icon {
  align-items: center;
  display: grid;
  color: white;
}

.dashboard-icon > svg {
  fill: white;
  width: 4rem;
  justify-self: center;
}

.dashboard-text {
  font-size: 1.5rem;
}

.nav {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  padding: 10px;
  gap: 2%;
}

.nav svg {
  display: grid;
  width: 2rem;
  justify-self: center;
  fill: white;
}

.header {
  overflow: visible;
  z-index: 10; /* add this */
  position: relative;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.header-upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  align-items: center;
  gap: 5%;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-items: center;
}

.search-container > input {
  width: 100%;
  border: 0px;
  border-radius: 20px;
  background-color: #e2e8f0;
  display: grid;
}

.search-btn {
  all: unset;
  cursor: pointer;
  width: 30px;
  display: grid;
}

.profile-section {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  margin-left: 20%;
}

.notification-icon {
  width: 30px;
  display: grid;
}

.profile-picture {
  clip-path: circle();
}
.profile-section > .profile-picture > img {
  object-fit: contain;
  width: 50px;
  /* clip-path: circle(); */
  display: grid;
}

.header-lower {
  overflow: visible;
  display: grid;
  align-items: center;
  /* justify-items: center; */
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10%;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.greeting-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  /* justify-items: center; */
}

.greeting-section .profile-picture {
  justify-items: center;
  width: 100px;
}

.header-lower .profile-picture > img {
  width: 90%;
  object-fit: contain;
  display: grid;
  justify-content: center;
  clip-path: circle(50%);
}

.greeting {
  display: grid;
  /* gap: 10px; */
}

.greeting > .user-name {
  font-size: 1.5rem;
}

.header-btn-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  justify-items: center;
  margin-right: 10%;
}

.header-btn-section button {
  border: 0px;
  padding: 10px 20px;
  background-color: #1992d4;
  border-radius: 20px;
  color: white;
  width: 80%;
  display: grid;
  justify-content: center;
}

.header-btn-section .btn {
  width: 100%;
  display: grid;
  justify-items: center;
}

.content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 40px 20px;
  gap: 20px;
}

.project-section {
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  border-left: 10px solid orange;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.content .header-text {
  margin-bottom: 15px;
  font-weight: 900;
}

.card-header {
  font-weight: 900;
  margin-bottom: 5px;
}

.card-text {
  color: #636464;
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: end; */
  margin-left: 50%;
  margin-top: 40px;
  justify-items: center;
  align-self: end;
}

.card-icon {
  width: 2rem;
}

.card-icon svg {
  display: grid;
}

.announcement-list {
  background-color: white;
  border-radius: 10px;
  padding: 0px 20px;
  display: grid;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.announcement-list > ul {
  display: grid;
}

.announcement-title {
  font-weight: 900;
  margin-bottom: 5px;
}

.announcement-text {
  color: #636464;
}
.announcement-list ul li {
  padding: 20px;
}
.announcement-list ul li:not(:last-child) {
  border-bottom: 2px solid #e2e8f0;
}

.trending-list {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.trending-list ul {
  display: grid;
  gap: 10px;
}

.trending-list ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.trending-list li img {
  width: 90%;
  clip-path: circle();
  display: grid;
  justify-self: center;
}

.trending-list li .project-name {
  color: #636464;
}
